@using Resource.Services
@using System.Collections.ObjectModel;
@using System.IO;
@inject grpcResourceService.grpcResourceServiceClient resourceServiceClient;
@inject IJSRuntime JsRuntime;
@inject ISnackbar Snackbar

<style>
    img {
        max-width: 100%;
    }
</style>

<div class="image-container">
    <img id="imageToCrop" src="@ImageSource" alt="Image" />
</div>
@*<div class="canvas-container" style="left:2000px">
    <canvas id="crop-result" width="200" height="300"></canvas>
</div>*@

<div class="container-fluid">
    <div class="row mt-2">
        <InputFile class="btn btn-light" id="inputFileID" OnChange="@(async(e) => await LoadFile(e))"
                   @attributes="Attributes" />
    </div>
    <div class="row justify-content-center mt-2">
        <MyButtonOK OnClick="UploadFile" />
        <MyButtonCancel OnClick="CloseMain" />
    </div>
</div>


@code {
    [Parameter]
    public MyPopup MyForm { get; set; }
    [Parameter]
    public UpLoadFileModel Model { get; set; } = new UpLoadFileModel();
    [Parameter]
    public EventCallback<UpLoadFileModel> OnSubmit { get; set; }

    //Attributes
    private Dictionary<string, object> Attributes { get; set; }
    //
    private string ImageSource = "";
    //
    protected override void OnParametersSet()
    {
        base.OnParametersSet();
        //Attributes
        Attributes = new Dictionary<string, object>()
                                            {
                                                { "accept", "image/*" },
                                                { "capture", "camera" }
                                            };
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await JsRuntime.InvokeAsync<string>("clickElementByID", "inputFileID");
        }
    }

    private IBrowserFile selectedFile;
    async Task LoadFile(InputFileChangeEventArgs e)
    {
        try
        {
            selectedFile = e.File;

            //Update edit context
            Stream stream = selectedFile.OpenReadStream(10000000);
            MemoryStream ms = new MemoryStream();
            await stream.CopyToAsync(ms);
            stream.Close();
            //
            Model.FileType = MyFile.Get_FileExtention(selectedFile.Name);
            Model.FileName = selectedFile.Name;
            Model.IsFileChanged = true;
            Model.UpdMode = 1;
            //
            ImageSource = $"data:image/png;base64," + Convert.ToBase64String(ms.ToArray());
            //
            this.StateHasChanged();

            //Cropper
            await JsRuntime.InvokeAsync<object>("initCropper");
            await JsRuntime.InvokeAsync<object>("initCropper");
        }
        catch
        {
            Snackbar.Add(MyMessage.Error_LoadFile, Severity.Error);
        }
    }

    async void UploadFile()
    {
        try
        {
            //Get cropped image
            //string croppedImage = await JsRuntime.InvokeAsync<string>("getCropBytes", UpLoadFile.FileType);
            string croppedImage = await JsRuntime.InvokeAsync<string>("getCropBytes");
            if (croppedImage == null) return;

            //Convert to bytes[]
            Model.FileContent = System.Convert.FromBase64String(croppedImage);
            //
            var request = new Resource.Services.SaveResourceFile_Request();
            var Credential = new Resource.Services.UserCredential()
                {
                    Username = WebUserCredential.Username,
                    RoleID = WebUserCredential.RoleID,
                    AccessToken = WebUserCredential.AccessToken,
                    ApiKey = WebUserCredential.ApiKey
                };
            request.Credential = Credential;
            request.Record = new grpcResourceFileModel();
            //
            Model.IssueDate = DateTime.Now;
            //
            ClassHelper.CopyPropertiesDataDateConverted(Model, request.Record);
            //
            var response = await resourceServiceClient.SaveResourceFileAsync(request);
            // Success
            if (response == null || response.ReturnCode != GrpcReturnCode.OK)
            {
                Snackbar.Add(MyMessage.Error_UploadFile, Severity.Error);
            }
            else
            {
                //OnSubmit
                Model.ResourceID = response.StringValue;
                await OnSubmit.InvokeAsync(Model);
                CloseMain();
            }
        }
        catch
        {
            Snackbar.Add(MyMessage.Error_UploadFile, Severity.Error);
        }
    }

    void CloseMain()
    {
        MyForm.Close();
    }

}
